@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/utils";
@import "./utils/animations";

@import "./base";

@import "./components/buttons";
@import "./components/forms";
@import "./components/links";
@import "./components/procedure-card";

@import "./layouts/header";
@import "./layouts/hero_section";
@import "./layouts/about_section";
@import "./layouts/why_us_section";
@import "./layouts/procedures_section";
@import "./layouts/contacts_section";
@import "./layouts/footer";
@import "./layouts/modal";
