@import "./utilits/_fonts.scss";
@import "./utils/_variables/scss";
@import "./_base.scss";
@import "./utilits/_utils.scss";

@import "./components/_buttons.scss";
@import "./components/_links.scss";
@import "./components/_header.scss";
@import "./components/_hero_section.scss";
@import "./utilits/_mixins.scss";

.h1 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--h1-size);
}

.h2 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--h2-size);
}

.h3 {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: var(--h3-size);
}

.h4 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h4-size);
}

.h5 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h5-size);
}

.h6 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h6-size);
}

.h7 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h7-size);
}

.h8 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h8-size);
}

.h9 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--h9-size);
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0px 24px;
}

.accent {
  color: var(--color-brand);
}

.section-title {
  margin-bottom: 48px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

/* #region about section */

.about-us-section {
  transform: translateY(-40px);
  padding-bottom: 84px;
  overflow: hidden;
}

.about-us {
  position: relative;
}

.about-star {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) skew(20deg, 360deg);
    opacity: 1;
  }
  25% {
    transform: rotate(180deg);
    opacity: 0.75;
  }
  50% {
    transform: rotate(360deg);
    opacity: 1;
  }
  75% {
    transform: rotate(-180deg);
    opacity: 0.75;
  }
  100% {
    transform: rotate(0deg) scale(1.5);
    opacity: 1;
    fill: #7df9ff;
  }
}

.star-dark {
  top: 50%;
  left: 70%;
  fill: var(--color-background-footer);
  transform: rotate(4deg);
  animation-delay: 1s;
  animation-duration: 5s;
}

.star-blue {
  top: 34px;
  right: 0px;
  fill: var(--color-brand);
  transform: rotate(6deg);
  animation-delay: 0s;
}

.star-grey {
  top: 270px;
  right: 18px;
  fill: var(--color-modal-form);
  transform: rotate(0deg);
  animation-delay: 3s;
}

.about-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 709px;
  padding-top: 40px;
}

.about-section-title {
  margin-bottom: 40px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

.section-title-accent {
  color: var(--color-brand);
  text-transform: capitalize;
}

.about-text {
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.73;
  color: var(--color-secondary-dark);
}

.about-strong {
  font-weight: 600;
  text-transform: capitalize;
}

.about-img {
  width: 336px;
  height: 336px;
  border-radius: 50%;
}

.about-images {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 500px;
}

.about-img.top {
  width: 327px;
  height: 327px;
}

.about-img.bottom {
  width: 327px;
  height: 328px;
  margin-top: 100px;
  margin-left: auto;
}

/* #endregion about section */

.wave {
  background-image: url(../images/img/background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 100px;
  height: 1506px;
}
/* #region why us */
.why-us-section {
  padding-top: 84px;
  padding-bottom: 48px;
  display: flex;
  text-align: center;
}

.why-us-container {
  max-width: 1108px;
  width: 100%;
  height: 377px;
}

.why-us-list {
  display: flex;
  flex-direction: row;
  gap: 56px;
  justify-content: space-between;
}

.why-us-items {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--color-primary-light);
}

.why-us-figure {
  margin: 24px 0;
}

.why-us-icon {
  width: 48px;
  height: 48px;
  fill: var(--color-brand);
}

.why-us-text {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--color-primary-dark);
}
/* #endregion why us */
/* #region procedures */

.procedures-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-title.center {
  text-align: center;
}

.procedures-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-item {
  flex: 0 0 auto;
}

.procedure-card {
  width: 344px;
  height: 456px;
  position: relative;
  overflow: hidden;
  border-radius: 4px 120px 4px 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
  gap: 16px;
  transition: transform 0.2s;
}

.procedure-card:hover {
  transform: scale(1.05);
}

.procedure-card::after {
  position: absolute;
  inset: 0;
  border-radius: 0;
  z-index: 3;
  pointer-events: none;
  content: "";
}

.procedure-figure {
  margin-bottom: 0;
}

.procedure-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 120px 4px 120px;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.procedure-card::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 45%,
    rgba(1, 28, 68, 0.73) 100%
  );

  z-index: 1;
}

.procedure-title {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 0;
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--color-primary-light);
}

.slider-icon {
  /* fill: var(--color-primary-light); */
  stroke-width: 2px;
  stroke: var(--color-secondary-dark);
  transition: stroke 0.2s;
}

.slider-btn:hover .slider-icon {
  stroke: var(--color-primary-light);
}

.prev {
  left: 0;
  transform: translateX(-50%);
}

.next {
  right: 0;
  transform: translateX(50%);
}

.procedure-card:hover::before {
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0.1) 40%,
    rgba(1, 28, 68, 0.9) 100%
  );
  transition: 0.4s ease-in-out;
}

/* #endregion procedures */
/* #region contacts */

.contacts-section {
  padding-top: 48px;
  padding-bottom: 96px;
}

.contacts-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.contacts-form {
  position: relative;
  width: 100%;
  max-width: 422px;
  height: 100%;
  max-height: 482px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-secondary-dark);
}

.contact_text {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primary-light);
}

.contact_field {
  margin-bottom: 16px;
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

/* #endregion contacts */
/* #region footer */

.footer-section {
  position: relative;
  background-image: url(../images/img/bg-footer.png.png);
  background-color: var(--color-secondary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  padding: 56px 0;
  margin: 0px;
}

.footer-section::after {
  position: absolute;

  background-image: url(../images/img/footer-PhotoRoom.png);
  background-repeat: repeat, no-repeat;
  width: 250px;
  height: 150px;
  bottom: 0;
  right: 0;
  content: "";
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  justify-content: start;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* .footer-contacts-item {
} */

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

/* .footer-social-item {

} */

.footer-social-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-light);
}

.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-policy {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}
.footer-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer-policy:hover {
  color: var(--color-primary-dark);
}
/* #endregion footer */
/* #region modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-image: url(../images/img/modal_background_vektor.png);
  background-color: var(--color-secondary-dark);
  border-radius: 48px;
  overflow-y: auto;
}

.modal-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: var(--color-primary-light);
}

.form_title {
  margin-bottom: 40px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--color-primary-light);
}

.form_text {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primary-light);
}

.form_field {
  margin: 0 auto 24px;
  max-width: 310px;
}

.form_label {
  display: block;
}

.form_input {
  width: 100%;
  padding: 18px 32px;
  border: 2px solid var(--color-modal-form);
  border-radius: 32px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  background-color: transparent;
  color: var(--color-primary-light);
}

.form_input:focus {
  outline: none;
  background-color: var(--color-modal-form);
}

.form_input::placeholder {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-primary-light);
}

.form_policy {
  margin: 8px auto;
  max-width: 210px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-modal-form);
}

/* #endregion modal */
