@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/utils";

@import "./base";

@import "./components/buttons";
@import "./components/links";
@import "./components/header";
@import "./components/hero_section";
@import "./components/about_section";
@import "./components/why_us_section";
@import "./components/procedures_section";
@import "./components/contacts_section";


/* #region footer */

.footer-section {
  position: relative;
  background-image: url(../images/img/bg-footer.png.png);
  background-color: var(--color-secondary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  padding: 56px 0;
  margin: 0px;
}

.footer-section::after {
  position: absolute;

  background-image: url(../images/img/footer-PhotoRoom.png);
  background-repeat: repeat, no-repeat;
  width: 250px;
  height: 150px;
  bottom: 0;
  right: 0;
  content: "";
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  justify-content: start;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* .footer-contacts-item {
} */

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

/* .footer-social-item {

} */

.footer-social-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-light);
}

.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-policy {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.2s;
}
.footer-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer-policy:hover {
  color: var(--color-primary-dark);
}
/* #endregion footer */
/* #region modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-image: url(../images/img/modal_background_vektor.png);
  background-color: var(--color-secondary-dark);
  border-radius: 48px;
  overflow-y: auto;
}

.modal-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: var(--color-primary-light);
}

.form_title {
  margin-bottom: 40px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--color-primary-light);
}

.form_text {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primary-light);
}

.form_field {
  margin: 0 auto 24px;
  max-width: 310px;
}

.form_label {
  display: block;
}

.form_input {
  width: 100%;
  padding: 18px 32px;
  border: 2px solid var(--color-modal-form);
  border-radius: 32px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  background-color: transparent;
  color: var(--color-primary-light);
}

.form_input:focus {
  outline: none;
  background-color: var(--color-modal-form);
}

.form_input::placeholder {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-primary-light);
}

.form_policy {
  margin: 8px auto;
  max-width: 210px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-modal-form);
}

/* #endregion modal */
