// @import "./utils/variables";
// @import "./utils/mixins";
// @import "./utils/fonts";
// @import "./utils/typography";
// @import "./utils/utils";
// @import "./utils/animations";

// @import "./base";

// @import "./components/buttons";
// @import "./components/forms";
// @import "./components/input";
// @import "./components/links";
// @import "./components/procedure-card";
// @import "./components/slider-btn";
// @import "./components/why-us-figure";


// @import "./layouts/header";
// @import "./layouts/hero-section";
// @import "./layouts/about";
// @import "./layouts/why-us-section";
// @import "./layouts/procedures-section";
// @import "./layouts/contacts-section";
// @import "./layouts/footer";
// @import "./layouts/modal";

@import "./utils/animations";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/typography";
@import "./utils/utils";
@import "./utils/variables";

@import "./base";

@import "./components/buttons";
@import "./components/forms";
@import "./components/input";
@import "./components/links";
@import "./components/procedure-card";
@import "./components/slider-btn";
@import "./components/why-us-figure";

@import "./layouts/about";
@import "./layouts/contacts-section";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/modal";
@import "./layouts/procedures-section";
@import "./layouts/why-us-section";
