@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/utils";
@import "./utils/animations";

@import "./base";

@import "./components/buttons";
@import "./components/forms";
@import "./components/links";
@import "./components/procedure-card";

@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/about";
@import "./layouts/why_us_section";
@import "./layouts/procedures-section";
@import "./layouts/contacts-section";
@import "./layouts/footer";
@import "./layouts/modal";
