@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.75;
  }
  50% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: rotate(540deg) scale(1.2);
    opacity: 0.75;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}

