@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.75;
  }
  50% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: rotate(540deg) scale(1.2);
    opacity: 0.75;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}

.about-star {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  animation: spin 10s linear infinite;

  &.star-dark {
    top: 50%;
    left: 70%;
    fill: var(--color-background-footer);
    animation-duration: 5s;
  }

  &.star-blue {
    top: 34px;
    right: 0;
    fill: var(--color-brand);
  }

  &.star-grey {
    top: 270px;
    right: 18px;
    fill: var(--color-modal-form);
  }
}