@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.75;
  }
  50% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: rotate(540deg) scale(1.2);
    opacity: 0.75;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}

.about-star {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  animation: spin 10s linear infinite;

  &.star-dark {
    top: 50%;
    left: 70%;
    fill: var(--color-background-footer);
    animation-duration: 5s;
  }

  &.star-blue {
    top: 34px;
    right: 0;
    fill: var(--color-brand);
  }

  &.star-grey {
    top: 270px;
    right: 18px;
    fill: var(--color-modal-form);
  }
}
.about-us-section {
  transform: translateY(-40px);
}

.about-us {
  position: relative;
}

.about-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 709px;
  padding-top: 40px;
}

.about-section-title {
  margin-bottom: 40px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--color-secondary-dark);
}

.section-title-accent {
  color: var(--color-brand);
  text-transform: capitalize;
}

.about-text {
  font-family: var(--font-main);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.73;
  color: var(--color-secondary-dark);
}

.about-strong {
  font-weight: 600;
  text-transform: capitalize;
}

.about-images {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 500px;
}

.about-img {
  width: 336px;
  height: 336px;
  border-radius: 50%;
}

.about-img.top {
  width: 327px;
  height: 327px;
}

.about-img.bottom {
  width: 327px;
  height: 328px;
  margin-top: 100px;
  margin-left: auto;
}
