.contacts-section {
  padding-top: 48px;
  padding-bottom: 96px;
}

.contacts-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
}

.contacts-form {
  position: relative;
  width: 100%;
  max-width: 422px;
  height: 100%;
  max-height: 482px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-secondary-dark);

  .contact_text {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--color-primary-light);
    margin-bottom: 24px;
  }

  .contact_field {
    margin-bottom: 16px;
  }
}

.contacts-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
  width: 100%;
  max-width: 600px;
  height: 482px;
}
