.footer-section {
  position: relative;
  background-color: var(--color-secondary-dark);
  background-image: url(../images/img/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  padding: 56px 0;
  margin: 0px;
}

.footer-section::after {
  position: absolute;
  background-image: url(../images/img/footer-PhotoRoom.png);
  background-repeat: no-repeat;
  width: 250px;
  height: 150px;
  bottom: 0;
  right: 0;
  content: "";
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  justify-content: start;
}

.footer-link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.footer-address-link {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
  
}

.footer-address-link:hover {
  color: var(--color-primary-dark);
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}


.footer-social-link {
  color: var(--color-primary-light);
}

.footer-social-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-light);
}


.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-policy {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.footer-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.footer-policy:hover,
.footer-link:hover {
  color: var(--color-primary-dark);
}