.contact-form {
  position: relative;
  width: 100%;
  max-width: 422px;
  height: 100%;
  max-height: 482px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-secondary-dark);
  background-image: url("../images/img/bgc_contact_forms.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: var(--color-primary-light);
  }

  &__field {
    margin-bottom: 16px;
  }

  &__input {
    width: 100%;
    height: 52px;
    padding: 18px 32px;
    border: 2px solid var(--color-modal-form);
    border-radius: 32px;
    background-color: transparent;
    color: var(--color-primary-light);

    &:focus {
      outline: none;
      background-color: var(--color-modal-form);
    }

    &::placeholder {
      color: var(--color-modal-form);
      opacity: 1;
    }

    &:focus::placeholder {
      color: var(--color-primary-light);
    }
  }

  &__policy {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: var(--color-modal-form);
  }

  &__link {
    color: inherit;
    text-decoration: underline;
  }
}
