.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 106px;
  align-content: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-logo {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95;
  text-transform: capitalize;
  color: var(--color-brand);
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-social-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-social-icon {
  fill: var(--color-secondary-dark);
}
