.hero {
  padding-bottom: 68px;
  background-image: url(../images/img/fon_section1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 106px;
  padding-top: 122px;
  padding-bottom: 126px;
}

.hero-subtitle {
  margin-bottom: 16px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-secondary-dark);
}

.hero-title {
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81;
  text-transform: capitalize;
}

.hero-offer {
  margin-bottom: 0;
  color: var(--color-secondary-grey);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
