.slider-icon {
  stroke-width: 2px;
  stroke: var(--color-secondary-dark);
  transition: stroke 0.2s;
}

 .slider-icon {
  stroke: var(--color-primary-light);
}

.prev {
  left: 0;
  transform: translateX(-50%);
}

.next {
  right: 0;
  transform: translateX(50%);
}
