.why-us-figure {
  margin: 24px 0;

  &__icon {
    width: 48px;
    height: 48px;
    fill: var(--color-brand);
  }

  &__text {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    color: var(--color-primary-dark);
  }
}
