.contacts-section {
  padding: 48px 0 96px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
  }

  &__form {
    flex-shrink: 0;
    width: 100%;
    max-width: 500px;
  }

  &__map {
    flex-shrink: 0;
    width: 100%;
    max-width: 600px;
    height: 482px;
    border: none;
    border-radius: 32px;
  }
}
