.contacts-section {
  padding: 48px 0 96px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
  }

  &__form {
    flex-shrink: 0;
    width: 100%;
    max-width: 500px;
  }

  &__button {
    padding: 16px 32px;
    height: 54px;
    border: 2px solid var(--color-brand);
    background-color: transparent;
    border-radius: 48px;
    color: var(--color-primary-dark);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: var(--color-brand);
      color: var(--color-primary-light);
    }
  }

  &__map {
    flex-shrink: 0;
    width: 100%;
    max-width: 600px;
    height: 482px;
    border: none;
    border-radius: 32px;
  }
  }