.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 100;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-secondary-dark);
  background-image: url("../images/img/modal_background_vektor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 48px;
  overflow-y: auto;

  &__btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
  }

  &__btn-close-icon {
    display: flex;
    width: 18px;
    height: 18px;
    color: var(--color-primary-light);
  }

  &__formfield {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
  }
}