.procedures-section {
  padding-top: 48px;
  padding-bottom: 48px;

  &__section-title {
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 auto;
  }
}
